body{
  background-image:url("./Images/escalatorMod.jpg");
  background-attachment:fixed;
  background-size: cover;
  background-position: bottom;

}

.BigTxt{
  font-family: 'Libre Barcode 39 Text', cursive;
  color : #E8143B;
  font-size: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 270px;
  margin-bottom: auto;
  display: block;
  padding: 0px;
}

.SmallTxt{
  font-family: 'Roboto Mono', monospace;
  color : #E8143B;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
/*  margin-left: 765px;
  margin-top: 470px;*/
}
.link{
  font-family: 'Roboto Mono', monospace;
  color : #E8143B;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
/*
#textAnim h1 {

  transition-property: all;
  transition-duration: 4s;
  transition-timing-function: ease;
  color: white;
}
*/
